body{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 25px;
    line-height: 1.6;
}

.button{
    background: coral;
    padding:1em 2em;
    color:#fff;
    border:0;
}

.button:hover{
    background: #333;
}